@charset "ISO-8859-1";

body {
	height: 100%;
	margin: 0px;
}

html {
	height: 100%;
	background-color: #fff5cc
}

#input {
	display: block;
	background-color: #FFF;
	width: 100%;
	height: 2.5em;
	border: 5px groove #d0cc94;
	box-sizing: border-box;
	padding-left: 5px;
	padding-right: 5px;
}

#input:focus {
	outline-width: 0;
}

#header {
	min-height: 2em;
	height: 2em;
	font-size: 2em;
	width: 75%;
	max-width: 750px;
	margin: auto;
	padding-top: 1.5em;
	padding-top: 1.5em;
}

#display {
	height: 40%;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px;
	font-family: "Consolas", monaco, monospace;
}

#canvas {
	font-size: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
	background-color: #000;
	box-sizing: border-box;
	border-right: 2px solid #d0cc94;
	white-space: nowrap;
	position: relative;
}

#visual-display {
	height: 60%;
	overflow: hidden;
	border-bottom: 2px solid #d0cc94;
}

.console-bordered {
	background-color: #fff6;
	border: 5px groove #d0cc94;
	border-bottom: none;
	border-top: 5px groove #d0cc94;
	box-sizing: border-box;
}

#console-bounds {
	height: 75%;
	width: 75%;
	max-width: 750px;
	margin: auto;
	margin-bottom: 7em;
}
